::placeholder {
  /* Most modern browsers support this now. */
  color: #333;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}
.tabs .indicator {
  background-color: #1a237e;
}
/* 
.card-image {
  overflow: hidden;
  max-width: 50%;
}
.card-image img {
  height: 100%;
} */

.title{
  text-transform: capitalize;
}